* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0px;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.maze {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  width: 500px;
  max-height: 500px;
  max-width: 500px;
}

.cell {
  border: 1px solid grey;
}

.start {
  background-color: green;
}

.finish {
  background-color: red;
}

.route {
  background-color: orange;
}